<div class="container">
  <h2>Securities</h2>

  <!-- Todos input -->
  <form role="form" ng-submit="addSecurity()">
    <div class="row">
      <div class="input-group">
        <input type="radio" ng-model="securityType" value="etf"> ETF <br/>
        <input type="radio" ng-model="securityType" value="common"> Common <br/>
        <input type="radio" ng-model="securityType" value="mf"> Mutual Fund <br/>
        <input type="text" ng-model="security" placeholder="Add a security here" class="form-control">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" value="Add">
        </span>
      </div>
    </div>
  </form>
  <p></p>



  <div id="etfs" ng-model="security" style="background-color:green; color:white;">
    <p class="form-group" ng-repeat="etf in etfs">
      {{etf}}
    </p>
  </div>

  <div id="common" ng-model="security" style="background-color:blue; color:white;">
    <p class="form-group" ng-repeat="common in commons">
      {{common}}
    </p>

  </div>


  <div id="mfs" ng-model="security" style="background-color:red; color:white;">
    <p class="form-group" ng-repeat="mf in mfs">
      {{mf}}
    </p>
  </div>

</div>