<div class="container">
  <h2>Securities</h2>

  <!-- Todos input -->
  <form role="form" ng-submit="addSecurity()">
    <div class="input-group">
      <div id="input-radio-options">
        <input type="radio" ng-model="securityType" value="etf"> ETF <br/>
        <input type="radio" ng-model="securityType" value="common"> Common <br/>
        <input type="radio" ng-model="securityType" value="mf"> Mutual Fund <br/>
      </div>
      <input type="text" ng-model="securityName" placeholder="Add a security here" id="input-security-box">
      <input type="text" ng-model="securityAmount" placeholder="Value" id="input-security-amount">
      <input type="submit" id="input-security-button" value="Add">
    </div>

  </form>
  <p></p>

  <div id="etfs" class="category">
    <h1 class="category-heading">Exchange Traded Funds</h1>
    <div class="category-row" ng-repeat="etf in etfs">
      <p class="category-names">{{etf.name}}</p>
      <p class="category-amounts">{{etf.amount}}</p>
    </div>
  </div>

  <div id="common" class="category">
    <h1 class="category-heading">Common Shares</h1>
    <div class="category-row" ng-repeat="common in commons">
      <p class="category-names">{{common.name}}</p>
      <p class="category-amounts">{{common.amount}}</p>
    </div>

  </div>


  <div id="mfs" class="category">
    <h1 class="category-heading">Mutual Funds</h1>
    <div class="category-row" ng-repeat="mf in mfs">
      <p class="category-names">{{mf.name}}</p>
      <p class="category-amounts">{{mf.amount}}</p>
    </div>
  </div>

</div>